<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="en">

    <head>
        {% block head %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge" >
            <meta http-equiv="content-type" content="text/html; charset=utf-8">

            <!-- SEO -->
            {% if page.title %}
                <title>
                    {{ page.title }} | {{ config.title }}
                </title>
            {% elif section.title %}
                <title>
                    {{ section.title }} | {{ config.title }}
                </title>
            {% else %}
                <title>
                    {{ config.title }}
                </title>
            {% endif %}

            <!-- Enable responsiveness on mobile devices-->
            <meta name="viewport"  content="width=device-width, initial-scale=1.0, maximum-scale=1" >

            <!--  css -->
            <link rel="stylesheet" href="{{ get_url(path="css/main.css") | safe }}">

            {% endblock head %}
    </head>

    <body>
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://magnilinux.org">
                    <font color="#ffffff">magni</font> <font color="#7851a9">linux</font>
                </a>
                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    <a class="navbar-item" href="https://magnilinux.org">Home</a>
                    <a class="navbar-item" href="https://pkg.magnilinux.org">Packages</a>
                    <a class="navbar-item" href="https://forum.magnilinux.org">Forum</a>
                    <a class="navbar-item is-active" href="/">Wiki</a>
                    <a class="navbar-item" href="https://our.magnilinux.org">OUR</a>
                    <a class="navbar-item" href="https://magnilinux.org/downloads">Downloads</a>
                </div>
            </div>
        </nav>

        <section class="side-menu columns is-fullheight">
            <aside id="sideMenu" class="column is-2 is-narrow-mobile is-fullheight is-hidden-mobile section">
            <div class="menu sticky">
                <p class="menu-label is-hidden-touch">Main</p>
                <ul class="menu-list">
                    <li>
                        <a href="/" {% if current_path == "/" %}class="is-active" {% endif %}>Main Page</a>
                    </li>
                    <li>
                        <a href="@/Main/Table_of_Contents.md">Table of Contents</a>
                    </li>
                    <li>
                        <a href="@/Main/Getting_Involved.md">Getting Involved</a>
                    </li>
                    <li>
                        <a href="@/Main/News.md">Wiki News</a>
                    </li>
                    <li>
                        <a href="https://wiki.magnilinux.org/Query/random?">Random Page</a>
                    </li>
                </ul>
                <p class="menu-label is-hidden-touch">Interaction</p>
                <ul class="menu-list">
                    <li>
                        <a href="@/Interaction/Help.md">Help</a>
                    </li>
                    <li>
                        <a href="@/Interaction/Contributing.md">Contributing</a>
                    </li>
                    <li>
                        <a href="@/Interaction/Recent_Changes.md">Recent Changes</a>
                    </li>
                    <li>
                        <a href="@/Interaction/New_Pages.md">New Pages</a>
                    </li>
                    <li>
                        <a href="@/Interaction/Statistics.md">Statistics</a>
                    </li>
                    <li>
                        <a href="@/Interaction/Requests.md">Requests</a>
                    </li>
                </ul>
                <p class="menu-label is-hidden-touch">Tools</p>
                <ul class="menu-list">
                    <li>
                        <a href="https://wiki.magnilinux.org/Query/what_links_here?">What Links Here</a>
                    </li>
                    <li>
                        <a href="https://wiki.magnilinux.org/Query/related_changes?">Related Changes</a>
                    </li>
                    <li>
                        <a href="https://wiki.magnilinux.org/Query/special_pages?">Special Pages</a>
                    </li>
                    <li>
                        <a href="https://wiki.magnilinux.org/Query/printable_version?">Printable Version</a>
                    </li>
                    <li>
                        <a href="https://wiki.magnilinux.org/Query/permanent_links?">Permanent Link</a>
                    </li>
                    <li>
                        <a href="https://wiki.magnilinux.org/Query/page_information?">Page Information</a>
                    </li>
                </ul>
                </div>
            </aside>

            <div id="mainContent" class="container column is-8">
                    {% block content %}
                    {% endblock content %}
            </div>
            <div id="anchorMenu" class="container column is-2">
                {% block anchor_menu %}{% endblock anchor_menu %}
            </div>
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Magni Linux</strong> by David Karrick. The source code is licensed <a
                            href="https://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a
                            href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                    </p>
            </div>
        </footer>

        {% block js_body %}
            {% if config.build_search_index %}
                <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") | safe }}"></script>
                <script type="text/javascript" src="{{ get_url(path="search_index.en.js") | safe }}"></script>
            {% endif %}
            <script type="text/javascript" src="{{ get_url(path="js/main.js") | safe }}"></script>
        {% endblock js_body %}

    </body>
</html>

</html>