{% extends "base.html" %}

{% block title %}
    {% if page.title %}
<title>
    {{ page.title }} | {{ config.title }}
</title>
    {% else %}
<title>
    {{ config.title }}
</title>
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="section">
        <div class="content">
            <h1>{{page.title | title }}</h1>
            <p>{{page.description}}</p>
            {{ page.content | safe }}
            {% if page.taxonomies %}
                <div class="box category">
                    <a href="/category">
                        <strong>Category</a>:</strong>
                    {% for cat in page.taxonomies.category %}
                        <a href="/category/{{cat | lower | replace(from=" ", to="-")}}">{{ cat }}</a>
                        {% if page.taxonomies.category | length > 1 %}
                            {% if loop.index != page.taxonomies.category | length %}
                                {% if loop.index == page.taxonomies.category | length - 1 %}
                                and
                                {% else %}
                                ,
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block anchor_menu %}
    <aside class="toc menu sticky is-hidden-touch">
        <ul class="menu-list">
            {% for h1 in page.toc %}
                <li>
                    <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
                    {% if h1.children %}
                        <ul class="menu-list">
                            {% for h2 in h1.children %}
                                <li>
                                    <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock anchor_menu %}
